<!DOCTYPE html>
<html>
<head>
  <title>ScherShot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="pages/contact">Contact</a>
<a href="pages/about">About</a>
<%= yield %>
<h2>©2015</h2>
</body>
</html>
